#letter {
  display: none;
}

.panel {
  display: none;
  margin-top: 50px;
  background: url(../img/paperTexture.png), rgba(199, 179, 133, 0.6);
  font-family: cursive;
  padding: 1%;
}

#letter p {
  text-indent: 2%;
}
